<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <div>
            <h1>Home</h1>
            <div>
                <ul>
                    <h2>Actor</h2>
                    <li><a href="actor">Listar</a></li>
                    <li><a href="actor/reg">Registrar</a></li>
                </ul>
                <ul>
                    <h2>Guion</h2>
                    <li><a href="guion">Listar</a></li>
                    <li><a href="guion/prod/lst">Listar en produccion</a></li>
                    <li><a href="guion/reg">Registrar</a></li>
                </ul>
                <ul>
                    <h2>Guionista</h2>
                    <li><a href="guionista">Listar</a></li>
                    <li><a href="guionista/reg">Registrar</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
